:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype'),
         url(./assets/fonts/static/Inter-Bold.ttf) format('truetype'),
         url(./assets/fonts/static/Inter-Regular.ttf) format('truetype'),
         url(./assets/fonts/static/Inter-SemiBold.ttf) format('truetype');
}

* {
    margin: 0; 
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--Grey-900);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: 'inter';
    font-size: 1rem;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.container {
    background-color: var(--Grey-800);
    padding: 2rem 1rem;
    border-radius: 0.7rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    height: 85px;
    border-radius: 5rem;
}

p, h1, h2 {
    color: var(--White);
    overflow-wrap: break-word;
    text-align: center;
}

p, a {
    font-size: 0.875rem;
}

h2 {
    font-weight: 600;
}

.address {
    color: var(--Green);
    font-weight: 700;
}

.description {
    padding: 1.5rem 0 1.5rem ;
}

.links-list {
    display: flex;
    flex-direction: column;
    max-width: auto;
    align-items: center;
    gap: 1rem;
}

.links-list a { 
    background-color: var(--Grey-700);
    color: var(--White);
    text-decoration:none;
    width: 90%;
    height: max-content;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.links-list a:hover {
    background-color: var(--Green);
    color: var(--Grey-900);
}

footer {
    position: relative;
    left: 0;
    right: 0;
    font-size: 0.8rem; 
    height: 1rem;
}

footer a {
    color: var(--Green);
    text-decoration: none;
}
